.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.banner-card-item {
  padding: 36px 30px;
  border: 2px solid #cbced2;
  border-radius: 15px;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.show-more-btn {
  background-color: #fff;
  border: 2px solid #326a9d;
  height: 36px;
  padding: 6px;
  border-radius: 5px;
  color: #326a9d;
  font-weight: bold;
  margin-top: 15px;
}

.banner-card-heading {
  color: #326a9d;
  font-weight: bold;
}

.banner-card-para {
  color: #64748b;
}
